.form-subscribe__form {
    @include flexed(center,center);
}

.form-subscribe__input {
    width: 360px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;

    color: $brandColor;
    background-color: $darkBg;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover,
    &:focus-visible {
        outline: 1px solid $brandColor;
        border: 1px solid $brandColor;
    }
}



.form-btn--footer-style {
    @include flexed(center, space-between);
    padding: 0 28px;
}