.burger-btn {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px) {

        display: none;
    }

    &:hover,
    &:focus {
        fill: $brandColor;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 48px 40px;
    background-color: $backgroundMain;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .burger-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-nav {
    padding: 0;
    margin: 0;
    list-style: none;

    &__link{
        display: block;
        text-decoration: none;
        @include font (500, calc(24px + 16 * (100vw / 480)), calc(47 / 40));
        letter-spacing: 0.02em;
        
        color: $mainTextColor;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &--active {
                position: relative;
                color: $brandColor;
            }
    
        &:hover ,
        &:focus  {
            color: $brandColor;
        }
    }

    &__item{


        &:not(:last-child) {
            margin-bottom: 32px;
        }


        &:hover &__link,
        &:focus &__link {
            color: $brandColor;
        }
    }
}    

.contact-box{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.mobile-contact{
    padding: 0;
    margin: 0;
    list-style: none;


    &__item:first-child{
        margin-bottom: 32px;
    }


    
        &__link {
            display: block;
            @include font(500,calc(18px + 6 * (100vw / 480)), calc(28 / 24));
            letter-spacing: 0.02em;
            text-decoration: none;
            color: $otherTextColor;
       
            transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
                @include font(500, calc(18px + 13 * (100vw / 480)), calc(28 / 24));
                color: $brandColor;
            }
        }


        
}



.mobile-media{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

    &__link{
        display: block;
        text-decoration: none;
        @include font(500, 18px,calc(22 / 18));
        letter-spacing: 0.02em;
        
        color:$brandColor;
    }


}



.mobile-menu .link {
    
    padding: 10px;
    color: #fff;
    
}